.wrapper {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 29px;
	max-width: 1110px;
}

/* @media screen and (max-width: 1023px) {
	.wrapper {
		max-width: 581px;
	}
}
 */

.cardWrapper {
	max-width: 350px;
	min-height: 407px;
	padding: 15px 18px 27px 22px;
}
