.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.list {
  margin-top: 13px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .listWrapper {
    width: 100%;
  }
}

.productCard {
  padding: 18px 28px 15px 19px;
}

.sumWrapper {
  margin-top: 46px;
}

@media screen and (max-width: 1279px) {
  .sumWrapper {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .sumWrapper {
    width: 100%;
  }
}

.sumCard {
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sum {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 22px;
  padding-right: 16px;
}

.button {
  width: 348.98px;
  height: 65px;
  border-radius: 20px;
  background-color: var(--logo-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

@media screen and (max-width: 767px) {
  .button {
    width: 100%;
  }
}

.emptyCart {
  padding: 20px;
}
