body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #eaeaea;
  --white-color: #ffffff;

  --primary-color: #ffa542;
  --primary-light-color: #ffce7f;

  --logo-color: #101010;
  --default-color: #1c1c27;
  --light-color: #838383;
  --dark-color: #000000;

  --font-family-main: "Montserrat", sans-serif;

  --font-size-xs: 13px;
  --font-line-xs: 15.85px;
  --font-xs: 600 var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --font-size-s: 15px;
  --font-line-s: 18.29px;
  --font-s: 600 var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 17px;
  --font-line-m: 20.72px;
  --font-m: 600 var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 20px;
  --font-line-l: 24.38px;
  --font-l: 600 var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 25px;
  --font-line-xl: 30.48px;
  --font-xl: 700 var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  --app-transition: all 0.5s ease;

  background-color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
